#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  justify-content: center;
}

.App {
  max-width: 550px;
}

.city {
  border: 1px solid white;
  padding: 1rem;
  text-align: left;
}

.city h3 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.city input {
  margin-left: 0.5rem;
}

.city-results p {
  margin-bottom: 0;
}

.game-results {
  font-size: 1.25rem;
}

.history {
  border-top: 1px solid white;
  margin-top: 1rem;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.guess-counter {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
